.truncated-summary {
    display: inline;
}

.more-link {
   background-color: rgba(58, 6, 6, 0.452);
   color: white;
   font-weight: 600;
   border-radius: 2px;
   cursor: pointer;
}
.more-link:hover{
    background-color:  rgba(58, 6, 6, 0.219);
}
.card h3{
 color: goldenrod;
}
.genre-select{
    float: right;
    border-radius: 10px;
    
}
.lire{
    background-color: rgba(59, 59, 180, 0.678);
}
.reserver{
    background-color: rgba(199, 40, 40, 0.63);
}
.lire:hover{
   background-color: rgba(59, 59, 180, 0.473);
}
.reserver:hover{
    background-color: rgba(199, 40, 40, 0.432);
}
.like-section {
    margin-top: 10px;
    text-align: center;
}

.like-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    color: #e74c3c;
}