table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  
  /* En-tête du tableau */
  th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: left;
    padding: 10px;
  }
  
  /* Ligne du tableau */
  td {
    padding: 10px;
    background-color: #ccc;
  }
  
  /* Style des boutons de pagination */
  .pagination {
    margin-top: 20px;
  }
  
  .pagination button {
    background-color: goldenrod;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 5px;
  }
  
  .pagination button:hover {
    background-color: goldenrod;
  }
  
  .pagination span {
    padding: 10px 15px;
    border-radius: 5px;
    margin-right: 5px;
    background-color: #ddd;
  }
  .red{ 
    background-color: red ;
    color: #ccc;
    text-align: center;
    
  }
  .form-grou{
    flex: 0 0 calc(1% - 10px); /* Définit la largeur de chaque groupe à 50% moins les marges */
    margin: 5px; /* Marge entre chaque groupe */
    border-radius: 5px;
  }
  .form-gro{
  position: fixed;
    top: 570px;
    left: 550px;
  }
  .form-mod{
    position: fixed;
      top: 570px;
      left: 650px;
    }
  